# File to configure flake8
[flake8]
# Set maximum allowed line length
max-line-length = 119

# Exclude specific directories or files
exclude = .git,__init__.py,__pycache__,docs,venv,*/migrations/*

# Ignore specific error codes
ignore = E203, W503
